.auth_button {
  text-transform: none;
  background-color: var(--primary-color);
  margin: 1rem 0;
}

.alt_button {
  text-transform: none;
  color: var(--primary-color);
}

.avatar {
  margin: 1rem;
  background-color: var(--primary-color);
  color: "inherit";
}
